/* Navbar.css */

/* Navbar */
.navbar {
    background-color: #4267B2; 
}

.navbar-brand,
.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.navbar-toggler-icon {
    color: #fff;
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0;
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    background-color: #f0f2f5; /* Light gray on hover */
}
